body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}
h1 a {
    text-decoration: none;
    color: white;
}
header nav {
    width: 100%;
}
header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
header ul li {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
header ul li a {
    color: white;
    text-decoration: none;
}
header ul li a:hover {
    color: aqua;
}
header ul li a:active {
    text-decoration: underline;
}
.container {
    position: relative;
    font-weight: bold;
}
.container img {
    width: 100%;
}
.container p,h2 {
    color: white;
    position: absolute;
    top: 42.5%;
    left: 25%;
    font-size: 13px;
    margin: 0;
    height: 5%;
    width: 50%;
    text-align: center;
    font-weight: bold;
}
h2 {
    font-size: 24px;
}
.section p, ul{
    font-size: 14px;
    text-align: center;
    list-style: none;
    padding: 0;
}
footer {
    color: white;
    background-color: blue;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
footer img {
    margin-left: 10px;
    height: 23px;
}