body {
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    background-color: blue;
}
h1 {
    width: 50%;
    text-align: center;
}
h1 a {
    text-decoration: none;
    color: white;
}
header nav {
    width: 50%;
}
header ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
header ul li a {
    text-decoration: none;
    color: white;
}
header ul li a:hover {
    text-decoration: underline;
}
main {
    position: relative;
}
main img {
    width: 100vw;
}
main p {
    color: white;
    position: absolute;
    top: 42.5%;
    left: 32.5%;
    font-size: 24px;
    margin: 0;
    height: 5%;
    width: 35%;
}