body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    background-color: blue;
}
h1 {
    width: 50%;
    text-align: center;
}
h1 a {
    text-decoration: none;
    color: white;
}
header nav {
    width: 50%;
}
header ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
header ul li a {
    text-decoration: none;
    color: white;
}
header ul li a:hover {
    text-decoration: underline;
}
.container {
    position: relative;
}
.container img {
    width: 100vw;
}
.container p,h2 {
    color: white;
    position: absolute;
    top: 42.5%;
    left: 30%;
    font-size: 22px;
    margin: 0;
    height: 5%;
    width:40%;
    text-align: center;
}
.section p, ul{
    text-align: center;
    list-style: none;
}
footer {
    color: white;
    background-color: blue;
    flex: 1;
}
footer p {
    text-align: center;
}