body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    background-color: blue;
}
h1 {
    width: 50%;
    text-align: center;
}
h1 a {
    text-decoration: none;
    color: white;
}
header nav {
    width: 50%;
}
header ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
header ul li a {
    text-decoration: none;
    color: white;
}
header ul li a:hover {
    color: aqua;
}
header ul li a:active {
    text-decoration: underline;
}
.container {
    position: relative;
    font-weight: bold;
}
.container img {
    width: 100%;
}
.container p,h2 {
    color: white;
    position: absolute;
    top: 42.5%;
    left: 25%;
    font-size: 27px;
    margin: 0;
    height: 5%;
    width: 50%;
    text-align: center;
    font-weight: bold;
}
h2 {
    font-size: 50px;
}
.section p, ul{
    text-align: center;
    list-style: none;
}
footer {
    color: white;
    background-color: blue;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;;
}
footer img {
    margin-left: 10px;
    height: 33px;
.active {
    color: gold;
}